body{
	background-color: #ffffff;
}
.cardImpar{
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    float: left;
    display: flex;
    font-family: Tahoma, sans-serif;
    font-size: 40px;

}
.cardPar{
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    float: left;
    display: flex;
    font-family: Tahoma, sans-serif;
    font-size: 40px;

}
.cardFinal {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Tahoma, sans-serif;
    font-size: 40px;

}



